<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>Grow | 정원처럼 자라는 일상</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
/>
  </head>
  <body>
    <main>
      <section class="hero">
        <h1>반갑습니다!</h1>
        <p>여긴 메인화면입니다!</p>
      </section>
    </main>
  </body>
</html>
